<div class="register-parts">
        <h2>Register Parts</h2>
        <div class="container">
                <form class="row g-3 needs-validation" [formGroup]="partform" novalidate>
                    
                        <div class="col-md-4">
                          <label for="validationCustomUsername" class="form-label">Part Name</label>
                          <div class="input-group has-validation">
                            <input type="text" class="form-control" id="validationCustomUsername" formControlName="partName" aria-describedby="inputGroupPrepend" required>
                            <div class="invalid-feedback">
                              Please Enter a name of part.
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                                <label for="validationCustomUsername" class="form-label">Part Number</label>
                                <div class="input-group has-validation">
                                  <input type="text" class="form-control" id="validationCustomUsername" formControlName="partNumber" aria-describedby="inputGroupPrepend" required>
                                  <div class="invalid-feedback">
                                    Please Enter a code of part.
                                  </div>
                                </div>
                              </div>
                        <div class="col-12">
                          <div class="form-check">
                                <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked"  formControlName="status" checked>
                                        <label class="form-check-label" for="flexSwitchCheckChecked">Status</label>
                                      </div>
                            <div class="invalid-feedback">
                              You must agree before submitting.
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <button class="btn btn-primary" type="submit" (click)="onSubmit()"><span *ngIf="editpart">Edit form</span><span  *ngIf="!editpart">Submit form</span></button>
                        </div>
                   
                </form>
        </div>
    </div>
    <div class="recent-parts">
        <h2>Parts</h2>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Part Name</th>
                    <th>Part Number</th>
                    <th>Status</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let part of partlist| paginate: { itemsPerPage: itemPerPage, currentPage: p, totalItems: totalParts }">
                    <td>{{part.id}}</td>
                    <td>{{part.partName}}</td>
                    <td>{{part.partNumber}}</td>
                    <td class="warning"><a class="pointer" (click)="changeStatus(part.id)"><fa-icon *ngIf="part.status" class="green" [icon]="checked"></fa-icon><fa-icon class="red" *ngIf="!part.status" [icon]="notchecked"></fa-icon></a></td>
                    <td class="primary">
                        <a class="pointer" (click)="delete(part.id)"><fa-icon  class="red pointer" [icon]="crash"></fa-icon></a>
                        <a class="pointer" (click)="get(part.id)"><fa-icon  class="green pointer" [icon]="edit"></fa-icon></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="flex justify-center items-center" >
            <pagination-controls class="ngx-pagination" (pageChange)="pageChanged($event)"></pagination-controls>
        </div>
    </div>
    
    