<ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link " routerLink="users" routerLinkActive="active">Users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="roles" routerLinkActive="active">Roles</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="Access" routerLinkActive="active">Access Management</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="PartDeclaration" routerLinkActive="active">Parts Declaration</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="CarDeclaration" routerLinkActive="active">Cars Declaration</a>
    </li>            
    <li class="nav-item">
      <a class="nav-link" routerLink="batchs" routerLinkActive="active">BatchNumber</a>
    </li>
   
  </ul>
  <div class="tabcotent">
    <router-outlet></router-outlet>
  </div>