<div class="register-batch">
        <h2>Register Batch Number</h2>
        <div class="container">
                <form class="row g-3 needs-validation" [formGroup]="batchform" novalidate>
                    
                        <div class="col-md-4">
                          <label for="validationCustomUsername" class="form-label">Batch Name</label>
                          <div class="input-group has-validation">
                            <input type="text" class="form-control" id="validationCustomUsername" formControlName="Name" aria-describedby="inputGroupPrepend" required>
                            <div class="invalid-feedback">
                              Please Enter a name of batch.
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <label for="validationCustom04" class="form-label">Car Model</label>
                          <select class="form-select"  aria-label="Default select example" formControlName="cars">
                            <option value="{{car.id}}" *ngFor="let car of carlist">
                                   {{car.name}}
                                
                            </option>
                          </select>
                          <div class="invalid-feedback">
                            Please select a Car.
                          </div>
                        </div>
                       
                        <div class="col-12">
                          <div class="form-check">
                                <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked"  formControlName="status" checked>
                                        <label class="form-check-label" for="flexSwitchCheckChecked">Status</label>
                                      </div>
                            <div class="invalid-feedback">
                              You must agree before submitting.
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <button class="btn btn-primary" type="submit" (click)="onSubmit()"><span *ngIf="editbatch">Edit form</span><span  *ngIf="!editbatch">Submit form</span></button>
                        </div>
                   
                </form>
        </div>
    </div>
    <div class="recent-batch">
        <h2>batchs</h2>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>batch Name</th>
                    <th>Status</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let batch of batchlist| paginate: { itemsPerPage: itemPerPage, currentPage: p, totalItems: totalbatchs }">
                    <td>{{batch.id}}</td>
                    <td>{{batch.name}}</td>
                    <td class="warning"><a class="pointer" (click)="changeStatus(batch.id)"><fa-icon *ngIf="batch.status" class="green" [icon]="checked"></fa-icon><fa-icon class="red" *ngIf="!batch.status" [icon]="notchecked"></fa-icon></a></td>
                    <td class="primary">
                        <a class="pointer" (click)="delete(batch.id)"><fa-icon  class="red pointer" [icon]="crash"></fa-icon></a>
                        <a class="pointer" (click)="get(batch.id)"><fa-icon  class="green pointer" [icon]="edit"></fa-icon></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="flex justify-center items-center" >
            <pagination-controls class="ngx-pagination" (pageChange)="pageChanged($event)"></pagination-controls>
        </div>
    </div>
    
    